name: CICD

on:
  push:
    branches: [ "main" ]
    paths:
        - 'index.html'
  pull_request:
    branches: [ "main" ]
    paths:
        - 'index.html'
  
jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    # - name: Build the Docker image
    #   run: |
    #     IMAGE_TAG=${{ github.sha }}
    #     docker build . --file Dockerfile --tag revanthreddydatla/coloscreen:$IMAGE_TAG
    -
      name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: revanthreddydatla/colorscreen:${{ github.sha }}
        
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
        - 
            name: Execute remote SSH commands using password
            uses: appleboy/ssh-action@v1
            env:
                SHA: ${{ github.sha }}
            with:
                envs: SHA
                host: ${{ secrets.COLORSCREEN_HOST }}
                username: ${{ secrets.COLORSCREEN_HOST_USERNAME }}
                key: ${{ secrets.COLORSCREEN_HOST_PRIV_KEY }}
                port: 22
                script: |
                    docker pull "revanthreddydatla/colorscreen:$SHA"
                    docker stop colorscreen 2>/dev/null || true
                    docker rm colorscreen 2>/dev/null || true
                    docker run --name=colorscreen -p 80:80 "revanthreddydatla/colorscreen:$SHA"
                    
        
                

        
    
    
    
